
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <mat-progress-bar *ngIf="!msg" mode="indeterminate"></mat-progress-bar>
      <br>
    </div>
  </div>
</div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-ms-10 col-ms-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <form class="form" name="biodataForm" [formGroup]="biodataForm">
        <div>
          <p id="headingP">Please send email to the desired donors
          </p>
          <hr>
        </div>
       
        <div class="formDiv">
          <input type="hidden" name="email.id">
          
          <mat-form-field class="full-width">
            <input matInput placeholder="To" required type="email" autocomplete="off"
              [(ngModel)]="email.to" [formControl]="toFormControl">
            <mat-error *ngIf="toFormControl.invalid">{{getRequiredErrorMessageForString('to')}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <input matInput placeholder="Subject" required type="text" autocomplete="off"
              [(ngModel)]="email.subject" [formControl]="subjectFormControl">
            <mat-error *ngIf="subjectFormControl.invalid">{{getRequiredErrorMessageForString('subject')}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <textarea matInput required
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="10"
            placeholder="Message"
              [(ngModel)]="email.message" [formControl]="messageFormControl"></textarea>
              <mat-error *ngIf="messageFormControl.invalid">{{getRequiredErrorMessageForString('message')}}</mat-error>
          
            </mat-form-field>
         


        </div>

        <br>
        <button *ngIf="!email.id" id="submitButton" mat-raised-button color="primary" class="submit-button"
         [disabled]="!(email.to
        && email.subject && email.message)"
          (click)="sendingEmail()">Send</button>

          <button *ngIf="email.id" id="submitButton" mat-raised-button color="primary" class="submit-button"
         [disabled]="!(email.id && email.to
        && email.subject && email.message)"
          (click)="updateEmail()">Update</button>
      </form>

    </div>
  </div>
</div>


<!--//---------------------------------------------------------------->
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>



<!--//delete template-------------------------------------------->
<ng-template #deletetemplate>
    <div class="modal-header">
        <h4 class="modal-title">Notice confirm modal carefully </h4>
       
    </div>
    <div class="modal-body">
        Do you want to delete id : {{email.id}}?
    </div>
    <div class="modal-footer">
      <button id="deleteBtn" class="btn btn-primary" (click)="deleteEmail(email.id)" (click)="modalRef.hide()">Confirm</button>
      <button id="closeBtn" class="btn btn-primary" (click)="modalRef.hide()">Close</button>
      
  </div>
  </ng-template>

    <!--//--------------------------------------------------------------------------->
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let email"> {{email.id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="to">
      <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
      <mat-cell *matCellDef="let email"> {{email.to}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="subject">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
      <mat-cell *matCellDef="let email"> {{email.subject}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
      <mat-cell *matCellDef="let email"> {{email.message}} </mat-cell>
    </ng-container>


<!-- Color Column -->
<ng-container matColumnDef="createdDate">
  <mat-header-cell *matHeaderCellDef mat-sort-header> CreatedDate </mat-header-cell>
  <mat-cell *matCellDef="let email"> {{email.createdDate}} </mat-cell>
</ng-container>
<!-- Color Column -->
<ng-container matColumnDef="lastModifiedDate">
  <mat-header-cell *matHeaderCellDef mat-sort-header> lastModifiedDate </mat-header-cell>
  <mat-cell *matCellDef="let email"> {{email.lastModifiedDate}} </mat-cell>
</ng-container>



<!-- Update Column -->
<ng-container matColumnDef="Update">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Update </mat-header-cell>
    <mat-cell *matCellDef="let email"> 
        <button class="btn btn-primary" (click)="gettingEmail(email.id)">Update</button>
      </mat-cell>
  </ng-container>



<!-- Delete Column -->
<ng-container matColumnDef="Delete">
  <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
  <mat-cell *matCellDef="let email"> 
      <button class="btn btn-primary" (click)="gettingEmail(email.id)" (click)="openModal(deletetemplate)">
        Delete</button>
    </mat-cell>
</ng-container>


  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let email; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->